@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    background-color: rgb(41, 112, 58) ;
    width: 100%;
    position: fixed;
    
}

#check {
    display: none;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.logo a {
    color: white;
}

.logo a:hover {
    background-color: transparent;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white ;
    font-size: 17px;
    border-radius: 3px;
    padding: 7px 13px;
    text-transform: uppercase;
}

a.active,a:hover {
    background-color: #0e3519ec;
    transition: all .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

body {
}

main {
    
    
    background-position-x: center ;
    background-repeat: no-repeat;
    background-color: rgba(37, 95, 34, 0.247) ;
    background-attachment: fixed;
   

    
}

a {
    text-decoration: none;
}

.img-line img{

    width: 125%;
}

.text-texto {
   padding: 80px 0 0 0 ;
   margin-left: 5%;
   
}

.text-texto h1 {
    color: rgb(24, 65, 38);
    font-size: 3em;
    width: 100%;

}

.text-texto p {
    width: 100%;
}

.flex {
    display: flex;
    padding: 150px 100px;
}

.bloco-one {
    width: 98%;
    display: flex;
    align-items: center;
    border: solid 1px black;
    margin: auto;
    padding: px;
}

.bloco-one p {
    width: 100%;
}

.bloco-one h1 {
    width: 100%;
}

.bloco-one img {
    width: 50%;
    height: 200px;
}

.bloco-titulo {
    margin: 10px;
}

.conteudo {
    width:100%;
    margin: auto;
   
    background-color: rgb(255, 255, 255);
}

.bloco-two {
    width: 300px;
    border: solid 1px black;
    padding: 20px;
    margin: auto;
    
}

.bloco-two img {
    width: 100%;
    align-items: center;
    
}

.bloco-two span {
    font-size: 0.7em;
    color: green;
}

.bloco-two-conteudo {
    display: flex;
    padding: 15px;

}

.flex-mobile {
    padding: 15px;
}

.bloco-two  p {
    font-size: 0.7em;
}

.grid {
    
    width: 95%;
    padding: 15px;
    

}
.slide-bar {
    display: flex; 
    left: 0;
}



.slide-bar > div {
    margin-bottom: 10px;
    
  margin: 9px;
}

.slide-bar img {
    width: 195px;
    height: 150px;
    border: solid 2px black;
}

.slide-bar a:hover {
    background-color: transparent;
    letter-spacing: 1px;
}

.slide-bar img:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.slide-bar a{
    transition: all 0.5s ease;
    color: black;

}

.slide-bar p {
    text-align: center;
}


.titulo2 h1 {
    font-weight: 300;
    padding: 0 25px;
    color: black;
}

.bloco-tree a:hover {
    background-color: transparent;
   
}

.bloco-tree:hover{
    transform: scale(1.1);
}

.bloco-tree img {
    width: 200px;
    height: 190px;
}

.ensino-etapas {
    display: flex;

}

.bloco-tree p, h3 {
    color: white;
    text-align: center;
}

.bloco-tree {
    background-color: rgba(19, 102, 26, 0.63);
    margin: 16px;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.5s ease;
    box-shadow: 1px 1px 1px 1px  rgba(92, 92, 92, 0.322);

}

.bloco-tree p:hover {
   background-color: green;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px rgba(11, 49, 13, 0.349);
}

.ensino {
   background-color: rgb(21, 49, 19);
   width: 100%;
   padding: 20px;

}

footer h1 {
    font-size: 1em;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
    padding: 10px;
}